@tailwind base;
@tailwind components;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);

  .rdp {
    margin: 0;
  }

  .rdp-cell {
    font-size: 0.75rem;
  }

  .rdp-day.rdp-range_start.rdp-selected {
    .rdp-day_button {
      border-radius: 0%;
      background-color: #007dfe;
      border: none;
    }
  }

  .rdp-day.rdp-range_end.rdp-selected {
    .rdp-day_button {
      border-radius: 0%;
      background-color: #007dfe;
      border: none;
    }
  }

  .rdp .rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
    background-color: #e9eff3;
    border-radius: 0%;
  }

  .rdp-day.rdp-range_middle.rdp-selected {
    border-radius: 0%;
    background-color: #e9eff3;
  }

  .rdp-chevron {
    fill: #9497b0;
  }

  .rdp-caption_label {
    font-size: 1rem;
  }
}

.recharts-wrapper {
  margin: 0 auto;
}

.contributionCalendar__Container > div:first-child > div {
  padding-right: 80px !important;
  padding-left: 0 !important;
}

.contributionCalendar__Container table {
  border-collapse: separate;
  border-spacing: 4px;
}

.contributionCalendar__Container table thead td {
  font-size: 12px !important;
}

.contributionCalendar__Container table tbody td {
  width: 14px !important;
  height: 14px;
  font-size: 12px !important;
}

.recharts-legend-item-text {
  color: black !important;
}

.react-select-container {
  font-size: 14px !important;
}

@layer base {
  html {
    font-family: 'Poppins', Helvetica, sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@tailwind utilities;
